
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

.rounded-box{
    border-radius: 5px;
}
.event-details{
    p + p{
        padding-top: 5px;
    }
}
#sidenav-overlay {
    z-index: 996;
}

@media only screen and (max-width: 640px){
    h1{
        font-size: 30px;
    }
    h3,h4{
        font-size: 15px;
    }
    .small-font-awesome{
        font-size: 30px;
    }
}